.ns-select-records-form {
    background-color: var(--ns-color-bg-accent);
    width: 500px;
    height: 100px;
    padding: 10px;
}

.ns-select-records-form .ns-cover-cont {

}

.ns-select-records-form .ns-avatar-cont {
    
}